﻿@model RafaelReyes_Test.Models.User


@Html.HiddenFor(x => x.UserID)
<div class="row">
    <div class="col-xs-12 col-md-6">


        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-firstname">First Name</span>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control alpha-only", aria_describedby = "addon-firstname" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-lastname">Last Name</span>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control alpha-only", aria_describedby = "addon-lastname" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-email">E-Mail</span>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", aria_describedby = "addon-email",type="email"})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-password">Password</span>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control alpha-numeric-only pass", aria_describedby = "addon-password", Value = Model.Password })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-cpassword">Confirm Password</span>
                    @Html.PasswordFor(x => x.cPassword, new { @class = "form-control alpha-numeric-only cpass", aria_describedby = "addon-cpassword", Value = Model.Password })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-phonenumber">Phone Number</span>
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control numeric-only", aria_describedby = "addon-phonenumber" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-address">Address</span>
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", aria_describedby = "addon-address" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-birthdate">Birth Date</span>
                    @Html.TextBoxFor(x => x.BirthDay, new { @class = "form-control", aria_describedby = "addon-birthdate", type = "date", Value = Convert.ToDateTime(Model.BirthDay).ToString("MM/dd/yy") })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-accesslevel">Access Level</span>
                    @if (Model.IsAdmin == "1")
                    { 
                        @Html.DropDownListFor(x => x.IsAdmin, Model.AccessLevelList, new { @class = "form-control", aria_describedby = "addon-accesslevel" })
                    }
                    else
                    {
                        <span class="form-control" aria-describedby="addon-accesslevel">User</span>
                    }
                </div>
            </div>
        </div>        
        
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-note">Notes</span>
                    @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", aria_describedby = "addon-note" })
                </div>
            </div>
        </div>

    </div>

        <div class="col-xs-12 col-md-6">
@if (Model.IsAdmin == "1")
{
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="addon-createdby">Created By</span>
                        @Html.TextBoxFor(x => x.CreatedBy, new { @class = "form-control", aria_describedby = "addon-createdby", @ReadOnly = "readonly" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="addon-createdon">Created On</span>
                        @Html.TextBoxFor(x => x.CreatedOn, new { @class = "form-control", aria_describedby = "addon-createdon", @ReadOnly = "readonly", Value = Convert.ToDateTime(Model.CreatedOn).ToString("MMM dd, yyyy HH:mm:ss") })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="addon-modifiedby">Modified By</span>
                        @Html.TextBoxFor(x => x.ModifiedBy, new { @class = "form-control", aria_describedby = "addon-modifiedby", @ReadOnly = "readonly" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="addon-modifiedon">Modified On</span>
                        @Html.TextBoxFor(x => x.ModifiedOn, new { @class = "form-control", aria_describedby = "addon-modifiedon", @ReadOnly = "readonly", Value = Convert.ToDateTime(Model.ModifiedOn).ToString("MMM dd, yyyy HH:mm:ss") })
                    </div>
                </div>
            </div>
}
            <div class="row">
                @Html.ValidationSummary()
            </div>
        </div>
    

</div>