﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/bundle/Global")
</head>
<body>
    @if (Session["IsAdmin"] != null)
    {

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                @if (Session["IsAdmin"].ToString().Trim() == "1")
                { 
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="@Url.Action("UserList", "Admin")">User List</a></li>
                        <li><a href="@Url.Action("CreateAccount", "Admin")">Create Account</a></li>
                    </ul>            
                }
            

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Session["UserName"] <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("MyAccount", "User")">My account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index","Home")">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    }
    else
    {
        Html.RenderAction("Index", "Home");
    }
</body>
</html>
