﻿@model RafaelReyes_Test.Models.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User (@Model.FirstName&nbsp;@Model.LastName)</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    Html.RenderPartial("_account", Model);
    
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <button type="submit" style="width:100%;" class="btn btn-primary">Submit&nbsp;<i class="glyphicon glyphicon-save"></i></button>
        </div>

            <div class="col-xs-12 col-sm-3">
                <a href="@Url.Action("UserList", "Admin")" style="width:100%" class="btn btn-danger">Back&nbsp;<i class="glyphicon glyphicon-backward"></i></a>
            </div>
        
    </div>
}


