﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<RafaelReyes_Test.Models.User>
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>
<hr />

<div class="row">
    <div class="col-xs-12 col-sm-8">
        @using (Html.BeginForm("UserList", "Admin", FormMethod.Get))
        { 
            <div class="input-group">
                <input type="text" id="txtSearch" name="searchValue" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>

        }
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:250px;">Email</th>
                    <th style="width:150px;">Phone Number</th>
                    <th style="width:100px">Role</th>
                    <th style="width:150px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                { 
                    <tr>
                        <td class="proper-case">@r.FirstName&nbsp;@r.LastName</td>
                        <td class="proper-case">@r.Email</td>
                        <td>@r.PhoneNumber</td>
                        @if (r.IsAdmin == "1") {<td>Admin</td>}
                        else {<td>User</td>}
                        <td><a class="Edit" href="@Url.Action("EditUser", "Admin", new { ID = r.UserID })">Edit&nbsp;<span class="glyphicon glyphicon-edit"></span></a>&nbsp;|&nbsp;<a href="@Url.Action("RemoveUser", "Admin", new { ID = r.UserID })" class="remove">Remove&nbsp;<span class="glyphicon glyphicon-remove-sign"></span></a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">@Html.PagedListPager(Model, page => Url.Action("UserList", new { page, searchValue = Request.QueryString["searchValue"] }), new PagedListRenderOptions() { Display=PagedListDisplayMode.IfNeeded,DisplayPageCountAndCurrentLocation=true})</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>