﻿body,html {
    height:100%;

}


a.view-info:visited, a.view-info:hover, a.view-info:link, a.view-info:active,
a.Edit:visited, a.Edit:hover, a.Edit:link, a.Edit:active,
a.remove:visited, a.remove:hover, a.remove:link, a.remove:active {
    text-decoration:none;
    cursor:pointer;

}
a.view-info,a.Edit {
    color:#7985c8;
}
a.remove {
    color:#cc4343;
}

.proper-case {
    text-transform:capitalize;
}

.validation-summary-errors {
    margin-top:10px;
    border:2px solid #bf5050;
    background-color:rgba(232, 99, 99, 0.60);
    border-radius:5px;
    padding:10px;
}

    .validation-summary-errors ul {
        list-style:none;
        padding:0;
        color:#ea1515;
    }

.vertical-center {
    position:absolute;
    top:50%
}