﻿@model RafaelReyes_Test.Models.User

@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Account</h2>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    Html.RenderPartial("_account", Model);
    <br />
    <div class="row">

        @if (Model.IsAdmin == "1")
        { 
            <div class="col-xs-12 col-sm-3">
                <button type="submit" style="width:100%;" class="btn btn-primary">Submit&nbsp;<i class="glyphicon glyphicon-save"></i></button>
            </div>
            
            <div class="col-xs-12 col-sm-3">
                <a href="@Url.Action("UserList", "Admin")" style="width:100%" class="btn btn-danger">Back&nbsp;<i class="glyphicon glyphicon-backward"></i></a>
            </div>

        }
        else
        {
            <div class="col-xs-12 col-xs-offset-0 col-sm-3 col-sm-offset-3">
                <button type="submit" style="width:100%;" class="btn btn-primary">Submit&nbsp;<i class="glyphicon glyphicon-save"></i></button>
            </div>

        }

    </div>

}