﻿@model RafaelReyes_Test.Models.LogIn
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Log In</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/bundle/Global")
</head>
<body>
    <div class="container" style="text-align:center">
        @using (Html.BeginForm()) { 
            @Html.ValidationSummary();
            <div class="vertical-center">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon-user"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "User Name", aria_describedby = "addon-user" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon-password"><i class="glyphicon glyphicon-asterisk"></i></span>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", aria_describedby = "addon-password" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary" style="width:100%">Sign In&nbsp;<i class="glyphicon glyphicon-play"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
